@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    outline: none;
    border: none;
    transition: all .2 linear;
}
:root{
    --color1: #25174E;
    --color2: #D3FFF7;
}

.dark{
    --color1: #d3fff7;
    --color2: #25174E;
}

/*========== PAGE HOME ==========*/
body{
    background-color: var(--color2);
}

.container{
    padding-top: 175px;
    text-align: center;
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
}

a.link__title{
    color: var(--color1);
    text-decoration: none;
}

.text{
    font-weight: 600;
    font-size: 85px;
    text-transform:uppercase;
    cursor: pointer;
}

.container .text:hover{
    color: var(--color2);
    position: relative;
    z-index: 100;
}

.container .text:hover ~ .hover-img{
    transform: translate(0) scale(1);
    opacity: 1;
}

.hover-img{
    position: fixed;
    top: 0;
    left: 0;
    transform: translate() scale(1);
    opacity: 0;
    pointer-events: none;
    z-index: 10;
}

header{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 40px 100px;
    z-index: 10000;
}

header .logo{
    position: relative;
    display: inline-flex;
    color: var(--color1);
    text-decoration: none;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.rightSide{
    display: flex;
}

.btns{
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 10px;
}

.btns ion-icon{
    font-size: 1.5em;
    color:var(--color1)
}

.btns.menuToggle ion-icon{
    font-size: 3em;
}
.btns ion-icon:nth-child(2){
    display: none;
}

.btns.active ion-icon:nth-child(2){
    display: block;
}

.btns.active ion-icon:nth-child(1){
    display: none;
}

.main{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.title__main{
    text-decoration: none;
}

.title__main h2{
    font-weight: 700;
    font-size: 60px;
}

.dark .mask{
    filter:invert(1);
    mix-blend-mode:multiply;
}

.main h2{
    position: relative;
    z-index: 3;
    font-size: 16vw;
    color: var(--color1);
    text-shadow: 0 20px 30px rgba(0,0,0,0.2);
}

.navegation{
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    background: var(--color2);
    z-index: 4;
    transition: 0.5s;
}

.navegation.active{
    left: 0;
}

.navegation li{
    list-style: none;
    padding: 15px;
}

.navegation li a{
    display: flex;
    font-size: 5em;
    font-weight: 700;
    text-decoration: none;
    color: var(--color1);
    letter-spacing: 0.5em;
    padding: 50px;
}

.navegation a::before{
    content: attr(data-img);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    font-weight: bolder;
    letter-spacing: .4em;
    font-size: 3em;
    opacity: 0;
    z-index: -1;
}

.navegation a:hover::before{
    letter-spacing: 0em;
    opacity: .1;
    transition: .3s ease-out;
}

.navegation__sci a{
    color: var(--color1);
    font-size: 2em;
    padding: 25px;
}

.copyright__sci p{
    display: flex;
    justify-content: space-between;
}

.copyrightTextSci{
    position: relative;
    font-size: 1.25em;
    font-weight: 700;
    color: var(--color1);
}

.navegation li a:hover{
    color: var(--color1);
}

.copyrightText{
    position: absolute;
    left: 100px;
    bottom: 40px;
    z-index: 2;
    font-weight: 500;
    font-size: 1.2em;
    color: var(--color1);
}

.sci{
    position: absolute;
    right: 100px;
    bottom: 40px;
    z-index: 2;
    display: flex;
    flex-direction: column;
}

.sci li{
    list-style: none;
}

.sci li a{
    text-decoration: none;
    color: var(--color1);
    font-size: 1.75em;
}

section{
    background-color: var(--color2);
}

/*========== PAGE ABOUT ==========*/

.home__about{
    color: var(--color1);
    overflow: hidden;
}

.cover{
    position: absolute;
    width: 943px;
    height: 100vh;
    left: 980px;
    top: 0px;
}

.about__container .creative__about{
    position: absolute;
    left: 7.24%;
    top: 28%;
    font-weight: 500;
    font-size: 68px;
}

.about__container .description__about{
    position: absolute;
    left: 7.24%;
    right: 56%;
    top: 40%;
    bottom: 50.56%;
    font-style: normal;
    font-weight: 300;
    font-size: 17.5px;
    line-height: 25px;
}

.addres__about{
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction:initial;
    left: 8%;
    right: 77%;
    top: 56%;
}

.mail__about{
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction:initial;
    left: 8%;
    right: 77%;
    top: 59%;
}

.mail__about a{
    text-decoration:none;
    color: var(--color1);
    margin-right: 5px;
}

.newsletter__about{
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: inherit;
    left: 8%;
    right: 72%;
    top: 62%;
}

.camp{
    margin-left: 15px;
    width: 220px;
    text-align: center;
    color: var(--color2);
    padding: 2px;
    border-color: var(--color1);
}

.camp .placeholder{
    color: var(--color1);
}

.btn-sub{
    width: 85px;
    height: 24px;
    background: var(--color1);
    color: var(--color2);
    border: none;
}

/*========== PAGE MICKAEL ==========*/

.background{
    position: relative;
    width: 1102px;
    height: 645px;
    left: 409px;
    top: 100px;
}

.info__container__mickael{
    position: relative;
    display: flex;
    justify-items: space-around;
    align-items: center;
    width: 1100px;
    height: 350px;
    left: 409px;
}

.container__creative__mickael{
    width: 800px;
}

.creative__mickael{
    font-size: 50px;
    font-weight: 700;
    color: var(--color1);
    margin-top: 25px;
}

.description__creative__mickael{
    font-size: 15px;
    font-weight: 300;
    color: var(--color1);
    width: 750px;
}

.links__creative__mickael{
    position: absolute;
    left: 825px;
    top: 135px;
}

.visit{
    width: 75px;
    display: inline-block;
    align-items: center;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    background-color: var(--color1);
    border: solid 2px var(--color1);
    color: var(--color2);
    margin-right: 15px;
}

.case__studio{
    width: 150px;
    display: inline-block;
    align-items: center;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    background-color: var(--color2);
    border: solid 2px var(--color1);
    color: var(--color1);
}

.info__links{
    position: absolute;
    display: flex;
    left: 825px;
    top: 170px;
}

.info__links__service{
    color: var(--color1);
    font-size: 18px;
    font-weight: 500;
}

.info__links__date{
    color: var(--color1);
    font-size: 18px;
    font-weight: 500;
    margin-left: 20px;
}

.separate{
    position: absolute;
    border: solid 1px var(--color1);
    width: 271px;
    height: 0px;
    left: 820px;
    top: 260px;
}

.share{
    position: absolute;
    display: flex;
    align-content: center;
    left: 825px;
    top: 275px;
}

.share__text{
    color: var(--color1);
    font-size: 18px;
    font-weight: 500;
}

.icon__share{
    color: var(--color1);
    font-size: 20px;
    font-weight: 500;
    margin-left: 35px;
    letter-spacing: 0.1em;
}
@media (max-width: 1440px){
    /*========== PAGE INDEX ==========*/
    .hover-img{
        left:auto;
    }
    /*========== PAGE MICKAEL ==========*/
    .background{
        width: 70%;
        left: 15%;
    }
    .info__container__mickael{
        width: 70%;
        left: 15%;
    }
    .container__creative__mickael{
        width: 45%;
    }
    .description__creative__mickael{
        width: 600px;
    }
    .links__creative__mickael{
        width: 45%;
        left: 720px;
    }
    .info__links{
        width: 45%;
        left: 720px;
    }
    .separate{
        width: 260px;
        left: 720px;
    }
    .share{
        width: 45%;
        left: 720px;
    }
    /*========== PAGE ABOUT ==========*/
    .cover{
        right: auto;
    }
    .addres__about{
        width: 250px;
    }
    .mail__about{
        width: 250px;
    }
    .newsletter__about{
        width: 350px;
    }

}
@media (max-width: 1024px){
    /*========== PAGE MICKAEL ==========*/
    .background{
        height: 50vh;
    }
    .info__container__mickael{
        top: 3vh;
    }
    .container__creative__mickael{
        top: 750px;
    }
    .creative__mickael{
        width: 45vh;
    }
    h5.creative__mickael{
        padding-top: 50px;
        font-size: 40px;
    }
    .description__creative__mickael{
        width: 40vh;
        font-size: 15px;
    }
    .links__creative__mickael{
        top: 120px;
        left: 450px;
    }
    .info__links{
        top: 160px;
        left: 450px;
    }
    .separate{
        top: 250px;
        left: 450px;
    }
    .share{
        top: 260px;
        left: 450px;
    }
    /*========== PAGE ABOUT ==========*/
    .cover{
        height: 100%;
        right: 0;
    }
    .about__container .creative__about{
        font-size: 50px;
        font-weight: 700;
    }
    .about__container .description__about{
        top: 36%;
    }
    .addres__about{
        top: 60%;
    }
    .mail__about{
        top: 63%;
    }
    .newsletter__about{
        top: 66%;
    }
}

@media (max-width: 768px){
/*========== PAGE INDEX ==========*/
    header{
        padding: 50px;
    }

    .copyrightText{
        left: 50px;
        bottom: 50px;
    }
    .sci{
        right: 50px;
        bottom: 50px;
    }

    .navegation a::before{
        font-size: 2em;
    }
    .hover-img{
        position: fixed;
        left: auto;
        height: auto;
    }

/*========== PAGE ABOUT ==========*/
    .cover{
        position: absolute;
        width: 350px;
        height: 350px;
        top: 130px;
        left: 230px;
    }

    .about__container .creative__about{
        top: 500px;
    }

    .about__container .description__about{
        top: 600px;
    }

    .description__about{
        width: 550px;
    }

    .addres__about{
        top: 735px;
        width: 250px;
    }

    .mail__about{
        top: 760px;
        width: 250px;
    }

    .newsletter__about{
        top: 788px;
        width: 340px;
    }

    .camp{
        margin-left: 0;
    }
    
/*========== PAGE MICKAEL ==========*/
    .main__mickael{
        height: 100%;
        width: 100%;
    }
    .background{
        width: 550px;
        height: 350px;
        left: 115px;
        top: 125px;
    }
    .info__container__mickael{
        width: 500px;
        left: 125px;
    }
    .description__creative__mickael{
        width: 525px;
    }
    h5.creative__mickael{
        padding-top: 0;
    }
    
    .links__creative__mickael{
        display: flex;
        align-content: center;
        left: 0;
        width: 500px;
        top: 290px;
    }
    .info__links{
        left: 0;
        width: 500px;
        top: 330px;
    }
    .info__links__date{
        width: max-content;
    }
    .separate{
        left: 0;
        top: 420px;
    }
    .share{
        left: 0;
        top: 430px;
    }
}
@media (max-width: 412px){
/*========== PAGE INDEX ==========*/
    header{
        padding: 25px;
    }
    a.link__title{
        font-size: 50px;
    }
    .container{
        top: 75px;
    }
    .copyrightText{
        left: 25px;
        bottom: 25px;
    }
    .sci{
        right: 25px;
        bottom: 25px;
    }
    .navegation li a{
        font-size: 50px;
    }
/*========== PAGE MICKAEL ==========*/
    .main__mickael{
        overflow: hidden;
    }
    .background{
        width: 325px;
        height: 200px;
        left: 45px;
        top: 150px;
        overflow: hidden;
    }
    .info__container__mickael{
        top: 80px;
        left: 25px;
    }
    .description__creative__mickael{
        width: 350px;
        text-align: justify;
    }
    .links__creative__mickael{
        top: 325px;
        left: 50px;
    }
    .info__links{
        top: 365px;
        left: 50px;
    }
    .separate{
        top: 452px;
        left: 50px;
    }
    .share{
        top: 460px;
        left: 50px;
    }
/*========== PAGE ABOUT ==========*/
    .main{
        overflow: hidden;
    }
    .cover{
        left: 30px;
        width: 350px;
        top: 90px;
    }
    .about__container .creative__about{
        font-size: 42px;
        top: 450px;
    }
    .about__container .description__about{
        top: 510px;
        width: 350px;
        font-size: 15px;
        text-align: justify;
    }
    .addres__about{
        top: 700px;
    }
    .mail__about{
        top: 725px;
    }
    .newsletter__about{
        top: 750px;
    }
}

@media (max-width: 375px){
/*========== PAGE INDEX ==========*/
header{
    padding: 25px;
    }
    .navegation li a{
        font-size: 35px;
        padding-top: 15px;
        padding: 25px;
    }
    .navegation :active{
        margin-top: 50px;
    }
    .container{
        top: 20px;
    }
    a.link__title{
        font-size: 35px;
    }
    .copyrightText{
        left: 25px;
        bottom: 25px;
        font-weight: 700;
    }
    .sci{
        right: 25px;
        bottom: 25px;
    }
    .hover-img{
        width: 900px;
        height: 700px;
        overflow: hidden;
    }

/*========== PAGE ABOUT ==========*/
    .cover{
        width: 250px;
        height: 250px;
        top: 85px;
        left: 25px;
    }
    .about__container .creative__about{
        font-size: 30px;
        top: 52%;
    }
    .about__container .description__about{
        font-size: 13px;
        line-height: 15px;
        text-align: justify;
        width: 310px;
        top: 59%;
    }
    .addres__about{
        top: 510px;
        font-size: 15px;
    }
    
    .mail__about{
        top: 535px;
        font-size: 15px;
    }
    .newsletter__about{
        display: flex;
        justify-content: start;
        top: 560px;
        font-size: 15px;
        width: 280px;
        left: 36px;
    }
    .camp{
        margin-left: 15px;
    }
    .btn-sub{
        margin-left: 15px;
    }
    .copyrightText{
        bottom: 25px;
    }
    .sci{
        bottom: 25px;
    }

/*========== PAGE MICKAEL ==========*/
    .background{
        width: 325px;
        height: 200px;
        left: 15px;
        top: 100px;
        overflow: hidden;
    }
    .main__mickael{
        overflow: hidden;
    }
    .info__container__mickael{
        width: 300px;
        left: 25px;
        top: 0;
    }
    h5.creative__mickael {
        font-size: 25px;
    }
    .description__creative__mickael{
        font-size: 12px;
        width: 325px;
    }
    .links__creative__mickael{
        left: 0px;
        top: 275px;
    }
    .info__links{
        left: 0;
        top: 310px;
    }
    .separate{
        left: 0;
        top: 395px;
    }
    .share{
        left: 0;
        top: 400px;
    }
    .icon__share{
        display: flex;
    }
}